                             .MMMMMMM.       ., . .
                            MMMO77777MMM   MMMMMMMM
                          DMMI77IM,.,M7MMMMM$$$MMMMM
                         MMN777M...ZZ..7M$$$$MMMMMMM.
                        MM77777..ZZZ.ZM$$$$7MO888MMM
                       ,M$7777Z..ZZ..M$$$$M888888MMM.
                       MM777$$$M..Z~N$$$$MOO888OMMM.
                      MM7$$$$$$$M.M$$$$$M8O8OOO8MMM.
                      MM$$$$$$$$$M$$$$$M888NMDMMMM
                     .MM$$$$$$$$MZZZZNZMMM:~~~~MMMMMMMMM
                     ,M$$$$$$$$88OZ$M~~~~~~~~MM+M7~~~~$MM~.
                     ZM$$$$$$$$MOO$M~~~~~~~~~8M:~~~~~~=~MM.
                     IM$$$$$$$MOODM~~~~MM~~~~~~~~~~~~~==~MM.
                      M$$$$$$$N7M~~~~~~MMM~~~~~~~~~~~~==~MM.
                     .MD$$$$$MDOM~~~~~~~MM~~~~~~~~~~~====MM
                      MM$$$$$M8M~~~~~~~~~M~~~~~~~~~~===~MM.
                .MMM+7MM$$$$$M8M~:~~~~~~~~~~~~~=~~=~~MMMM.
               ~MM.DMMM$$$$$$M88MMMN~~~MMMMMMMMDDMMMMDDMZ
       .+MMMD .MM..,MM$$$$$$$M888888M~~MMDDDDDDDDDDDDDDM:
       MMM$MMMMMM....MM$$OMN~?MODDDN+~~+MMDDDDDDDDDDMMMM.
      .MM=:.....MD....,MM~~~~~~~ZMMM~~~~+++MMDDDDMMM+DM.
       MMD......:M....,:.MMMMMM~~~~~~~~~~~~M8MMM88M+~MM.
        NMMM+,..,M.....,:7..MN~M~~~~~~~~~~~MZZZN8M+~MM.
     .MMMM.......M.....,,..,~M=M~~~~~~~~~~~=MZZMM~MM8.          ... .
     MM.:,.............,:....MMMM~NMM+~~~~===+=~DM$MMM.       ,MMMMMM,
     MM7.,.... ........,:...DM$$$ZMM7$NMMMMMMMMM$$NM$$MMMN   MMO77$$OMMM .
      =MMMMM8.,.......,::..,MZ$$$$$$MM8$$$M8$$$$$$MMD7D~+=M.NM7$$$ZZZZMMMI.
        MM...........,,:?,::M7$$$$$$MMZN$$$$MZMM$$$$$$$M+==MMM$$ZZZZZZM:MM
        M.=,.......,,:.MMMMMMMMMMMM$$$$8O$$$MMMN$$$$$$$7MM=MMZZZZZZZZZM,MM
        MM,8MM.....MMMMN... .    +M$$$$$M$O=====M7$$$$$$$$$MZZZZZZZZZZN:MM.
        .MMMM :,.MMM+            .M$$$$$$NM=+=++?O$$$$$$$$$MZZDZZZZZZN,DM.
           .MM+MMM               .M$Z$$$$8OM=IIIM7$$$$$$$$7MOOZZZZZZZM,MM
            .MMM                 .MMMN7$$ZNMMMMM$$$$$$$$$$7MO8ZZZZZZZ,MM.
                                 MM777OMNZZZZMM7$$$$$$$$Z$MMO8OOOOOOM:MN
                                DM7MM:,::,7MMOZM$$$$$$ZZ$MMMMMZ888ON~MM.
                                MMM,:M7I7IMN:MMZMZZZZZZ$MM...8MMMMMMMM?
                                MM,M7777IIII?M:MZMOOO$NM8
                                +M+777IIIIIII?M~MM$$MMM.
                                 MM77IIIIIII??$M~MMM,.
                                 .MMIIIIII?II$???,M.
                                  .MMM7II??MI????MM
                                     MMMNM??????+M8
                                       .MMMZ???MM$
                                           MMMM~
