#############################################################################
    Welcome to {{ansible_nodename}} ({{ansible_default_ipv4.address}})
    {{ansible_distribution}} {{ansible_distribution_release}} {{ansible_distribution_version}} on {{ansible_product_name}}
    Stats: {{(ansible_memtotal_mb /1024)|round()}} GiB, {{ansible_processor_count}} {{ansible_architecture}} processor(s)
    This host is {{ ansible_managed }}.
#############################################################################

                                .=MMMMMMMM, . .
                               .,MMMIII7IIMMMM,.
                      MMMMN   .+MMIOMMM777777MMM$
                  ,MMMMM$MMM...MM7O.Z...M7777$7MMM.
                OMMM,..MMMMMMMOM7$.OO,Z$.M$$$777$MM.
               MMM....M.=MMMMMMM7.OZ~OOO.O$$$$$$$$MM,.
               MM.....MM7$$$$$$$$$NMD.OZ.M$$$$$$$$$MM.
               MM.,:: MMMMMMM$$$$$$Z$ZZMM$$$$$$$$$$$MM .
               MM.,=D,.MMMMMMMMMM$$$$$ZZZZMN$$$$$$$$$MM.
              .MMM,,.....:MMMMM=~:MN$$ZZZZOOMO$$$$$$$MM.
                MMM.:::,....,M=MM~~~:MM$ZOOOOOM$$$$$$$MM
                 MMM8M:.,NMMMMMM8~~~~~M~MM$$8OODN$$$$$MMMD
                  MM+:~MM~~~~:=M~~~~~MM?~~~:MMMMMM$$$$$$ZMMZ
                 . MMMM8=~~~~~~~~~~~~MM~~~~~~~~M88M$$$$$$$MM~.
                   ..MM~=~~~~~~~~~~~~M8~~~~~~~MO88NM$$$$$Z$MM
                    .MM~==~~~~~~~~~~~~~~~~~~MNO888MN:~IMDO$MM
                     MM:+==~~~~~~~~~~~OMM?~~M8888M~~~~=~OMMM..
                    . MMN~+=====~NMMMNDDNM+~~M8NM~~=M:~=~MM.
                      .MMMMMMMMM8DDDDDDDM++~~~~~~~MZ:~~==NM.
                        MMMDDDDDDDDDDDMZ+?~~~~~~~~M~~~~=:MM
                        .NMMMMDDDDDDDNM+=~~~~~~~~~~~~:=:MM
                         .MM$ZMMMNDNNZM+=~~~~~~MMMMZMMMMM
                         ..MMNOM:MZZZZM===~~:~MMMMMMMMI..
                           .8MM$MZOMMM====~DMMMN8DMMMMM..
                  +MMMMM  . ..MMM$MMMMMMMMMOMZ$$$$ZZZ$NMMN .
                NMMMM8MMMM  MMMODO$$$M7777NO8DMO$$$ZZOO$MMMMM.
              MMMMZZZZZZOMMMMM77$NMMM7777NZOOO88MM7$ZMI...,.MM .
             8MMMZZZZOOOOMMM=M$7777M,+M77ZZZOO888MMM  ..... ?MMM
            .MMO=DOOOOOOODM~=M7777D====M77MZOOO88$M8:~.........MM .
             ZMM:MOOOOOOOMM?M$7778++++?O777MOOO888MM......,.M.. M7
              MM~,DOOOOOOOMM777777MIII~M77777ONNO$M.,....MM .M..MM
              :MM:ZOOOOOOOMM7777777ZNM$$77777$$$$ZM:,.... M,....MM
               =MM+MOOOOOOOMM7777777777777$$$$ZMMMM.:,M.......,:M7
                 MM:MOOOO88MMM7$77777$$$$$$$NMMNZ88MMMM8,,,,,,MMM
                 MMM=MOZOOMMMMM7$$$$$$ZZZZZNM8ZMOOOOZM7.::..MMM.
                 .MMMMMMMMMM.7MMM$7ZZZZOOZONMOO8OZZZZZDMMMMMM
                   MMM . .     ,MMMMMN$$77ZMMDOOOZZZZZZO7MN
                                   +MMMMMMMMMMZZZZZZZZZM:MM.
                                            MMZZZZZZZZZM:OM,
                                           .MMM$ZZZZZZZO::MZ
                                            .OM$$ZZZZZZZZ:M?
                                            ..MM$$ZZZZZM?MM.
                                              MMM77$$$MMMM
                                                MMMMMMM.
~
